*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: slategray;
    display: flex;
    justify-content: center;
}
.container{
    background-color: wheat;
    width: 60%;
    margin-top: 2em;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.topbar{
    background-color: darkslategrey;
    height: 4em;
    padding: 1em;
}
.profile{
    padding: 5em 1em 1em;
}
.margin-bottom{
    margin-bottom: .5em;
}
.flex{
    display: flex;
}
.pic{
    width: 150px;
    height: 150px;
}
.gear{
    height: 1em;
    width: 1em;
}
.loc{
    width: 1em;
    height: 1.5em;
}
.sans-serif{
    font-family: sans-serif;
}
.flex-column{
    flex-direction: column;
}